@import '../../style/antd-theme.sass'

.tocWrapper
  margin-bottom: $padding-lg

  [role=treeitem]

    \:global(.ant-tree-title) > a:focus
      text-decoration: none

    \:global(.ant-tree-node-content-wrapper:hover)
      background-color: transparent
      color: $primary-5

    &:global(.active .ant-tree-node-content-wrapper)
      cursor: default

    &:global(.active > span > .ant-tree-title)
      color: $heading-color
      text-decoration: underline

    & :global(.ant-tree-node-selected)
      background-color: transparent !important

.disableExpand
  \:global(.ant-tree-switcher)
    display: none !important
