@import '@innodoc/app/src/style/antd-theme.sss'

.popover
  max-width: 340px

  .mathJaxPreview mjx-container
    margin: $padding-sm 0 !important

  .messageItem,
  .mathJaxPreview
    margin-bottom: $padding-xs

    &:last-child
      margin-bottom: 0
