.git
.gitignore
.editorconfig
.dockerignore
.env
.gitlab-ci.yml
.gitmodules
README.md
LICENSE.txt
coverage
Dockerfile
Dockerfile.e2e
node_modules
.DS_Store
client-web/src/.next
client-web/e2e/screenshots
