**/*~
**/.DS_Store
**/.git
**/README.md
**/.vscode
.gitignore
.editorconfig
.dockerignore
.env
.gitlab-ci.yml
.gitmodules
LICENSE.txt
coverage
Dockerfile
Dockerfile.e2e
/globalConfig.json
# yarn 2
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/versions
.pnp.*
/app/analyze
/app/src/.next
/app/src/public/locales/*/*.missing.json
/app/src/style/antd-vars.json
/app/src/public/fonts/mathjax-woff-v2/*
