**/*~
**/.DS_Store
**/.git
**/README.md
**/.vscode
.gitignore
.editorconfig
.dockerignore
.env
.gitlab-ci.yml
.gitmodules
LICENSE.txt
coverage
Dockerfile
Dockerfile.e2e
/globalConfig.json
# yarn 2
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/versions
.pnp.*
# client-web
packages/client-web/analyze
packages/client-web/src/.next
packages/client-web/src/public/locales/*/*.missing.json
packages/client-web/src/style/antd-vars.json
packages/client-web/src/public/fonts/mathjax-woff-v2/*
