# Application base URL (URL the app will be available from the outside)
APP_ROOT=https://app.example.com/

# Application server host (the host the application server will listen from)
APP_HOST=localhost

# Application server port (the port the application server is running on)
APP_PORT=8000

# URL to load content from
CONTENT_ROOT=http://localhost:8001/

# URL to load static files from (default: "${CONTENT_ROOT}_static/")
# STATIC_ROOT=http://localhost:8001/

# First URL component for sections, e.g. example.com/section/a/b
SECTION_PATH_PREFIX=section

# First URL component for pages
PAGE_PATH_PREFIX=page

# MongoDB connection string
MONGO_URL="mongodb://localhost/innodoc"

# JWT secret
# openssl rand -base64 256 | tr -d '\n'
JWT_SECRET="put_your_jwt_token_here"

# Mailer configuration
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=username
SMTP_PASSWORD=password
SMTP_SENDER=no-reply@example.com

# settings for development (usually no need to change something here)
#NEXT_REDUX_WRAPPER_DEBUG=true
#SMTP_SKIP_MAILS=yes
