{
  "env": {
    "jest": true
  },
  "globals": {
    "page": true,
    "browser": true,
    "context": true,
    "jestPuppeteer": true,
    "getUrl": true
  },
  "rules": {
    "import/no-extraneous-dependencies": 0
  }
}
