@import '../../../style/antd-theme.sass'

.header
  border-bottom: $border-width-base $border-style-base $border-color-split
  padding-right: $padding-md
  padding-left: $padding-md

  \:global(.ant-menu)
    background-color: transparent

.sidebarToggleButton
  color: $text-color
  border: 0
  box-shadow: none

  // supress click animation to make button act like menu item
  &:after
    animation: none

  @media (max-width: $screen-sm-max)
    span
      display: none

.mobileMenuButton
  @media (min-width: $screen-md)
    display: none

.menuRight
  text-align: right
  white-space: nowrap

.searchInputMenu
  margin-bottom: $padding-md
