@import '../../../style/antd-theme.sass'

.header
  border-bottom: $border-width-base $border-style-base $border-color-split
  padding-right: $padding-md
  padding-left: $padding-md

  \:global(.ant-menu)
    background-color: transparent

.menuButton
  color: $text-color
  border: 0

  &:after
    border-color: transparent !important

  @media (max-width: $screen-sm-max)
    span
      display: none

.sidebarToggle
  text-align: right

.searchInput
  width: 100%
