@import '../../../../style/antd-theme.sass'

.bulletList
  margin-bottom: $padding-sm
  margin-left: $padding-lg

  \:global(.ant-list-item-content)
    margin-bottom: 0

.orderedList
  margin-bottom: $padding-sm

  \:global(.ant-list-item-content)
    display: flex
    margin-bottom: 0

    .listnumber
      margin-right: $padding-md
      font-weight: bold

.table
  margin-bottom: $padding-sm
  overflow-x: auto

  tr:hover > td
    background-color: transparent
