@import '../../../../style/antd-theme.sass'

.bulletList
  margin-left: $padding-lg

.orderedList

  \:global(.ant-list-item-content)
    display: flex

    .listnumber
      margin-right: $padding-md
      font-weight: bold

.table
  margin-bottom: $padding-sm
  overflow-x: auto

  tr:hover > td
    background-color: transparent
