.sbtn
  position: fixed
  top: 50%
  transform: translate(0, -50%)
  margin: 0
  text-align: center
  justify-content: center
  display: flex
  flex-direction: column
  z-index: 900

.next
  float: right
  right: 0

.prev
  float: left
  left: 0