@import '../../../style/antd-theme.sass'

.sectionNav
  float: right
  font-size: $font-size-base * 1.5
  padding-left: $padding-sm
  margin-top: 2px

  > :first-child
    margin-right: $padding-md

.disabled
  color: $disabled-color
