.inputquestion
  input
    background-color: #f5f5f5 !important
    border: 2px solid #ddd !important
    margin: 0.2em 0.2em 0.2em 0 !important
  &.solved
    input
      background-color: #c3f7c3 !important
      border: 2px solid #6d6 !important
  &.wrong
    input
      background-color: #ffc8c8 !important
      border: 2px solid #f66 !important
